{% extends "base_generic.html" %}

{% block content %}
{% load static %}

{% if user.is_authenticated %}
<link rel="stylesheet" href="{% static 'css/calendar.css' %}" />
<div class="container my-5">
    <div class="clearfix">
        <a class="btn btn-info left" href="{% url 'calendar' %}?{{ prev_month }}"> Previous Month </a>
        <a class="btn btn-info right" href="{% url 'calendar' %}?{{ next_month }}"> Next Month </a>
    </div>
    {{ calendar }}
</div>
{% else %}
    
<div class="col-12">
    <h2 class="mt-5">You need to be logged in to see this page.</h2>
{% endif %}

{% endblock %}